:root {
  --light-white: hsl(205, 100%, 96%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-white);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
}

.auction-image {
  width: 40vw;
}

.auction-image img {
  width: 100%;
}

.auction-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40vw;
  gap: 2px;
}

.auction-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.auction-title-small {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.auction-text {
  padding-top: 10px;
}

@media screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .auction-image {
    width: 60vw;
  }

  .auction-description {
    width: 60vw;
  }
}
